<section class="row d-flex justify-content-center ">
    <div class="col-12 col-md-9 gy-3  post-link">
        <a href="/post/{{id}}">
            <div class="p-3">
                <h2 class="post-title-home">{{title}}</h2>
                <p class="post-content-home">{{content}}</p>
            </div>
        </a>
    </div>
</section>
