
<div>
    <h2>Posts</h2>
    {{#each posts as |post|}}
        <h4>{{post.title}}</h4>
    {{/each}}
</div>



<button id="new-post-btn" type="submit" class="btn"><a href="/dashboard/new">New Post</a></button>