
<div>
    <h2>Posts</h2>
    {{#each posts as |post|}}
    <a href="/dashboard/post/{{post.id}}">
    <div>
            <h4>{{post.title}}</h4>
            <h6>{{format_date date_created}}</h6>
    </div>
    </a>
    {{/each}}
</div>



<a href="/dashboard/new"><button id="new-post-btn" type="submit" class="btn">+</button></a>