<div>
<h1>Sign Up</h1>
<form id="form-signup">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="signup-email-input">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="name" class="form-control" id="signup-username-input">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="signup-password-input">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="/js/signup.js"></script>